
 /*Nav Bar*/

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i.active{
    color: greenyellow;

}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px; 
    cursor: pointer;
    transition: 0.3s ease;
}

.testing{
  background-image: url("homebackground.jpg");
}
#home {
  /* background-image: url("homebackground.jpg"); */
  width: 100%;
  height: 50vh;
  background-size:cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
}

/*park page button*/
#searchbtn {
  display: inline-block;
  background-color: #87b014;
  border-radius: 5px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto 70px auto;
}
 
/*Mountain Page button*/ 

#seachbtn {
  display: inline-block;
  background-color: #87b014;
  border-radius: 5px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto 20px auto;

}

#containerBackground{
  background-color: #000;
}


/* About Section*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .aboutSection {
    background-image: url(homepage-aboutpage.jpg);
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: greenyellow;
  }

  .content{
    color: #000;
  }

  .name{
    color: #000;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: greenyellow;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

   /* Footer */
  
   footer {
    background-color: #000;
  }

  footer h5{
    color: #0b5604;
    font-weight:700 ;
    font-size: 1.2rem;
  }

  footer p{
    color: #0b5604;
  }

  footer li{
     padding-bottom: 4px;
  }

  footer li a{
    font-size: 0.8rem;
    color:antiquewhite
  }

  footer li a:hover{
    color: #d8d8d8;
  }

  footer li i:hover{
    color: #0b5604;
  }

  



  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }